{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Album Manager{% endblock %}

{% block sidebar %}
    {{ knp_menu_render('akerbelManagerBundle:Builder:managerSidebarMenu') }}
{% endblock %}

{% block body -%}
    
    <ul>
        {% for album in albums %}
            <li>
                {{ album.id }}. {{ album.title }} - 
                <a href="{{ path('album_show', {'id': album.id}) }}">View Album</a>
            </li>
        {% endfor %}
    </ul>
    
    <p>
        <a href="{{ path('album_new') }}">Create New Album</a>
    </p>
{% endblock %}
