{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}Album #{{ album.id }} - {{ album.title }}{% endblock %}

{% block sidebar %}
    {{ include('@manager/sidebar.html.twig') }}
{% endblock %}

{% block body -%}
    
    <h3>{{ album.description }}</h3>
    
    sort_order - {{ album.sort }}
    
    <ul>
        <li><a href="{{ path('album') }}">Album Manager</a></li>
        <li><a href="{{ path('album_edit', {'id': album.id}) }}">Album Editor</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}